<div id="<%= dom_id ticket %>">
  <p>
    <strong>Summary:</strong>
    <%= ticket.summary %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Reported:</strong>
    <%= ticket.reported %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= ticket.collection %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= ticket.link %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

</div>
